<html>
  <head>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/style1.css" />
    <link
      href="https://fonts.googleleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <img
          src="../static/images/Self Aid-logos/Self Aid-logos_transparent.png"
          class="logo"
        />
        <nav>
          <ul class="alink">
            <li><a href="/"> HOME </a></li>
            <li><a href="/calendar"> TASK </a></li>
          </ul>
        </nav>
      </div>
      <div class="row">
        <div class="col">
          <h1>SelfAid</h1>
          <p>
            Welcome to the world where you will experience the inner peace and
            happience. Being in nature, or even viewing scenes of nature,
            reduces anger, fear, and stress and increases pleasant feelings.<br /><br />
            Experience a virtual nature in your pocket <br /><br /><b
              >LET'S START...</b
            >
          </p>
        </div>
        <div class="col">
          <a href="/stress"
            ><div class="card card1">
              <h3>MEASURE STRESS LEVEL</h3>
            </div></a
          >
          <a href="/breathe"
            ><div class="card card2">
              <h3>BREATHE PACER</h3>
            </div></a
          >
          <a href="/music"
            ><div class="card card3">
              <h3>PEACE YOUR EAR</h3>
            </div></a
          >
          <a href="/book"
            ><div class="card card4">
              <h3>LOOK OUT BOOK LIBRARY</h3>
            </div></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
